body {
  margin: 0;
  padding: 0;
  background-image: url(images/homepage.jpg)
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
    width: 15%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    margin-top: 5%;
  
}
.reservation{
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  overflow: visible;
  box-sizing: border-box;
  cursor: pointer;
  margin: -60px;
  margin-right: 10px;
  margin-top: 50px;
  padding: 15px 30px;
  transform: translateY(-50%);
  right: 2rem;
  position: absolute;
}

.menu-icon{
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-icon .line {
  width: 37px;
  height: 2px;
  background-color: #999;
  margin: 7px 0px;
  transition: all 0.25s ease;
  display: block;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.4s ease;
}

.menu-overlay.open {
  right: 0;
}

.close-icon {
  display: none;
}

.menu-overlay.open ~ .menu-icon {
  display: none;
}

.menu-overlay.open ~ .close-icon {
  display: flex;
}

.menu-overlay ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-overlay ul li {
  margin: 15px 0;
}

.menu-overlay ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

 .restaurant{
  padding-top: 170px;
  margin-bottom: 0px;
  font-size: 70px;
  text-align: center;
  vertical-align: baseline;
  color: white;
}
 .location{
 text-align: center;
 font-size:30px;
 color: #fff;
 margin: 0px
}
.star{
  display: block;
  height: auto;
  vertical-align: baseline;
  margin: 10px auto 15px auto; 
  max-width: 180px;
  overflow: clip;
}




